.i_v_menu
{
	height: 445px;
	position: relative;
	background-color: #eff2f4;
}
.i_v_menu_other
{
	position: absolute;
}
.i_v_menu_div_1
{
	position: relative;
}
.i_v_menu_link_1
{
	padding: 20px 40px 20px 20px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	background-color: #eff2f4;
	font-size: 14px;
	position: relative;
}
.jq_v_submenu:after
{
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -6px;
	background: url(/local/templates/ilab_it_shop/tmpl/img/svg/arrows/right_grow.svg) center right no-repeat;
	background-size: 8px 13px;
	width: 8px;
	height: 13px;
}
.i_v_menu_title
{
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #2788cb;
	color: #fff;
}
.i_v_menu_other
{
	width: 100%;
}
.i_v_menu_other_icon {
	border-top: 1px solid;
}
.i_v_menu_other_icon span
{
	display: block;
	height: 76px;
	cursor: pointer;
	background: #eff2f4 url(/local/templates/ilab_it_shop/tmpl/img/svg/main/expand.svg) center no-repeat;
	background-size: 25px 10px;
}
.i_v_menu_other_icon.j_v_other_menu_hide span
{
	transform: rotate(180deg);
}

/* ---------------------------------------------- i_v_submenu */
.i_v_menu_sub_wrap
{
	position: absolute;
	min-width: 100%;
	top: 0;
	left: 280px;
	background-color: #eff2f4;
	padding: 20px;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.i_v_menu_sub_cont
{
	position: relative;
}
.i_v_menu_sub_cont.i_product_item
{
	padding-right: 240px;
	min-height: 440px;
}
.i_v_menu_sub_item .i_item_img
{
	padding-top: 100%;
	background-size: contain;
	background-position: center;
	background-color: #fff;
}
.i_v_menu_sub_item
{
	position: absolute;
	top: -20px;
	right: -20px;
	bottom: -20px;
	width: 240px;
	background-color: #fff;
}
.i_v_menu_sub_item .i_item_cont
{
	padding-bottom: 80px;
}
.i_v_menu_div_2
{
	min-width: 230px;
}
.i_v_menu_link_2
{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px;
}

.i_v_menu_link_3
{
	display: block;
	padding: 10px 10px 10px 15px;
	margin-left: 15px;
	text-decoration: none;
	text-transform: lowercase;
	position: relative;
}
.i_v_menu_link_3:before
{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 6px;
	height: 6px;
	background-color: #ddd;
	border-radius: 50%;
	margin-top: -3px;
}
.i_v_menu_link_4
{
	display: block;
	padding: 10px 10px 10px 15px;
	margin-left: 30px;
	text-decoration: none;
	text-transform: lowercase;
	position: relative;
}
.i_v_menu_link_4:before
{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 6px;
	height: 6px;
	background-color: #ddd;
	border-radius: 50%;
	margin-top: -3px;
}

/* ---------------------------------------------- col_2 */
.i_v_menu_sub_cont.col_2
{
	width: 460px;
}
.i_v_menu_sub_cont.col_2 .i_v_menu_div_2
{
	width: 230px;
}
/* ---------------------------------------------- col_3 */
.i_v_menu_sub_cont.col_3 .i_v_menu_div_2
{
	width: 230px;
}
/* ---------------------------------------------- col_4 */
.i_v_menu_sub_cont.col_4 .i_v_menu_div_2
{
	width: 230px;
}
@media screen and (min-width: 1221px)
{
	.i_v_menu_sub_cont.col_3
	{
		width: 730px;
	}
	.i_v_menu_sub_cont.col_4
	{
		width: 930px;
	}
}
/*@media screen and (max-width: 1369px) and (min-width: 1221px){
	.i_v_menu_sub_cont.col_3 {
		width: 610px;
	}
}*/
@media screen and (min-width: 1025px) and (max-width: 1369px)
{
	/*.i_v_menu_sub_cont.col_3
	{
		width: 407px;
	}
	.i_v_menu_sub_cont.col_3 .i_v_menu_div_2
	{
		width: 200px;
		min-width: 200px;
		float: left;
	}*/
}
@media screen and (min-width: 1025px) and (max-width: 1220px){
	.i_v_menu_sub_cont.col_3,
	.i_v_menu_sub_cont.col_4
	{
		width: 700px;
		-moz-column-count: 3!important;
		-webkit-column-count: 3!important;
		column-count: 3!important;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1094px){
	.i_v_menu_sub_cont.col_4,
	.i_v_menu_sub_cont.col_3
	{
		width: auto;
		-moz-column-count: 2!important;
		-webkit-column-count: 2!important;
		column-count: 2!important;
	}
}

/* ---------------------------------------------- i_v_menu_mobile */
@media screen and (max-width: 1024px)
{
	.i_v_menu
	{
		display: none;
	}
	.i_v_menu_mobile
	{
		display: block !important;
	}
}
.i_v_menu_mobile_link_1
{
	display: block;
	padding: 20px;
	text-decoration: none;
}
.i_v_menu_mobile_content
{
	display: none;
	background-color: #eff2f4;
}
.i_v_menu_mobile_title
{
	cursor: pointer;
}
.i_v_menu_mobile_div_1:not(:first-child)
{
	border-top: 1px solid;
}
/* ---------------------------------------------- i_v_menu_mobile_sub */
.i_v_menu_mobile_sub
{
	display: none;
	margin-left: 20px;
}
.i_v_menu_mobile_link_2,
.i_v_menu_mobile_link_3,
.i_v_menu_mobile_link_4
{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}
.i_v_menu_mobile_link_1,
.i_v_menu_mobile_link_2,
.i_v_menu_mobile_link_3,
.i_v_menu_mobile_link_4
{
	position: relative;
}
.j_v_menu_mobile_link:after
{
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -6px;
	background: url(/local/templates/ilab_it_shop/tmpl/img/svg/arrows/right_grow.svg) center right no-repeat;
	background-size: 8px 13px;
	width: 8px;
	height: 13px;
}
.j_v_menu_mobile_link.checked:after
{
	transform: rotate(90deg);
	transition: 0.5s;
}


/* ---------------------------------------------- i_typical, i_cat_work  vertical menu */
.i_typical .i_v_menu_content,
.i_cat_work .i_v_menu_content
{
	display: none;
	position: absolute;
}
.i_typical .i_v_menu_title,
.i_cat_work .i_v_menu_title
{
	cursor: pointer;
}
.i_typical .i_v_menu_other,
.i_cat_work .i_v_menu_other
{
	display: block;
}
.i_typical .i_v_menu_other_icon,
.i_cat_work .i_v_menu_other_icon
{
	display: none;
}
@media screen and (min-width: 1025px)
{
	.i_typical .i_v_menu,
	.i_cat_work .i_v_menu
	{
		height: auto;
		width: 260px;
	}
}

div.i_vm_selected > a.i_v_menu_link_1,
div.i_vm_selected > a.i_v_menu_link_2,
div.i_vm_selected > a.i_v_menu_link_3,
div.i_vm_selected > a.i_v_menu_link_4,

a.i_vm_selected.i_v_menu_mobile_link_1,
a.i_vm_selected.i_v_menu_mobile_link_2,
a.i_vm_selected.i_v_menu_mobile_link_3,
a.i_vm_selected.i_v_menu_mobile_link_4 {
	color: #f1780c;
}