/* Developed in july 2020 | Programming by newweb.kz*/
@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,400i,500,600,700&display=swap&subset=cyrillic");
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
BODY {
  min-width: 380px;
  font-size: 14px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.sliderWrapper h3 {
  text-transform: uppercase;
  font-size: 20px;
}
.sliderWrapper {
  text-align: center;
}
.slider img {
  margin: 0 auto;
}
.sl__slide {
  outline: none;
}
.sociaWrapper i:hover {
  color: #436d39;
}
.sociaWrapper i {
  font-size: 1.5em;
  margin: 0 5px;
  color: #fff;
  transition: ease 1s;
}
.sociaWrapper {
  padding: 5px 0 0 63px;
}
.infoBlockText {
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
}
.infoBlockTitle {
  padding: 10px;
  color: #fff;
  background-color: #363;
  line-height: 1;
  text-transform: uppercase;
}
.infoBlock:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.infoBlock {
  max-width: 211px;
  cursor: pointer;
  transition: ease 1s;
}
.infoMainWrap {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 30px;
}
.info_items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}
.info_item {
  background-color: #90b83b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  min-width: 288px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}
.calendarUl li a:hover {
  text-decoration: underline;
}
.calendarUl li a {
  text-decoration: none;
  padding: 8px 5px;
  color: #333;
  display: block;
}
.calendarUl li {
  list-style: none;
  border-bottom: 3px solid #9acd32;
}
.calendarUl li:not(:first-child) {
  padding-top: 20px;
}
.slider_title {
  text-align: center;
  color: #646464;
  margin-bottom: 50px;
}
.slider_title h3 {
  font-size: 36px;
}
.slider_title p {
  font-size: 16px;
}
.slider_title p span {
  font-size: 14px;
  color: #9acd32;
}
.calendarUl {
  padding: 0;
  margin: 0;
}
.calnedarTitle {
  margin-bottom: 15px;
  background-color: #436d39;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  padding: 25px;
  font-weight: 500;
  min-width: 175px;
}
.calendarWrap {
  width: 288px;
}
.leftMenu li.last a {
  border-bottom: none;
}
.leftMenu li a:hover {
  background-color: #dcffad;
}
.leftMenu li a {
  color: #666;
  text-decoration: none;
  display: block;
  max-width: 150px;
  padding: 8px;
  border-bottom: 1px solid #dfdfdf;
  transition: 0.5s;
}
.leftMenu li {
  list-style: none;
}
.leftMenu {
  padding: 30px;
  margin: 0;
  background-color: #f5f5f5;
  margin-right: 15px;
}
.menuLeftBanner {
  display: flex;
  margin-top: 15px;
}
.menuLeftBanner iframe {
  width: 100%;
}
.headerMenu ul {
  padding: 10px 0 0 0;
  margin: 0;
  display: flex;
}
.headerMenu li.first {
  border-left: none;
}
.calendarSlider {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 40px;
}
.calendarSlider .sliderWrap {
  flex: 1;
}
.headerMenu li.last {
  border-right: none;
}
.headerMenu li {
  list-style: none;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #ababab;
}
.headerMenu li a:hover {
  background-color: #739b3c;
  color: #fff;
}
.headerMenu li a {
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 12px;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}
.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
}
header {
  background-color: #9acd32;
  margin-bottom: 100px;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.headerWrapper img {
  padding: 15px 40px 0 15px;
}
.headerSlogan span {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 20px;
}
.headerSlogan {
  color: #fff;
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
}
.main_top_menu {
  padding: 25px 40px;
  background-color: #fff;
  color: #595959;
  box-shadow: 0px 5px 22px rgba(0,0,0,0.13);
  position: relative;
  top: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.i_cabinet {
  display: flex;
  align-items: center;
}
.i_cabinet .burger_cont {
  padding: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.i_cabinet .s_burger {
  width: 30px;
  height: 2px;
  position: relative;
  background-color: #595959;
}
.i_cabinet .s_burger:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #595959;
}
.i_cabinet .s_burger:before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #595959;
}
.i_cabinet .cabinet_link {
  padding: 5px 0 5px 30px;
  background: url("/images/icon_cabinet.svg") no-repeat left center;
}
/*--FOOTER----------------------------------------------------------------------------------------------------------------------------------------*/
footer {
  margin-top: 15px;
  color: #000;
  background: url("/images/footer_bg.png") no-repeat center;
  padding: 100px 0;
}
footer .footer_cont_menu_logo {
  display: flex;
  margin-top: 20px;
}
footer .leftMenu {
  padding: 0;
  margin-right: 50px;
  min-width: 200px;
  margin-top: 0;
  background-color: transparent;
}
footer .leftMenu li a {
  padding-left: 0;
  max-width: 100%;
  color: #fff;
  border-bottom: 0;
}
footer .leftMenu li a:hover {
  background-color: transparent;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer .footer_info {
  line-height: 22px;
  text-align: center;
}
footer .footer_info .footer_info_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
footer .i_menu_div_block {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
/**/
/*--FOOTER----------------------------------------------------------------------------------------------------------------------------------------*/
