/* Developed in july 2020 | Programming by newweb.kz*/
@import url("https://fonts.googleapis.com/css?family=Roboto:200,400,400i,500,600,700&display=swap&subset=cyrillic");

green_color = #005F00;

html {
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: inherit;
		text-decoration none
	}
}
img {
	max-width 100%
}
BODY {
	min-width 380px;
	font-size: 14px;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #333;
	font-family: 'Roboto', Tahoma, sans-serif;
	font-weight: 500;
	font-style normal
}
.sliderWrapper h3 {
	text-transform: uppercase;
	font-size: 20px;
}
.sliderWrapper {
	text-align: center;
}
.slider {
	img {
		margin 0 auto
	}
}
.sl__slide {
	outline: none;
}
.sociaWrapper i:hover {
	color: #436d39;
}
.sociaWrapper i {
	font-size: 1.5em;
	margin: 0 5px;
	color: #fff;
	transition: ease 1s;
}
.sociaWrapper {
	display flex
}
.infoBlockText {
	color: #333;
	background-color: #f7f7f7;
	padding: 10px;
}
.infoBlockTitle {
	padding: 10px;
	color: #fff;
	background-color: #363;
	line-height: 1;
	text-transform: uppercase;
}
.infoBlock:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.infoBlock {
	width calc(20% - 20px);
	max-width 211px;
	cursor: pointer;
	transition: ease 1s;
}
.infoMainWrap {
	margin-top: 15px;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	margin-top: 70px
	margin-bottom: 30px
	flex-wrap wrap
}
.info_items {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 50px
}
.info_item {
	background-color: #90B83B;
	display flex
	justify-content center
	align-items center
	height: 120px;
	width calc(20% - 30px);
	color: #fff;
	text-align center
	font-size: 13px
	text-transform: uppercase;
	cursor: pointer;
}
.calendarUl li a:hover {
	text-decoration: underline;
}
.calendarUl li a {
	text-decoration: none;
	padding: 8px 5px;
	color: #333;
	display: block;
}
.calendarUl li {
	list-style: none;
	border-bottom: 3px solid #9ACD32
	&:not(:first-child) {
		padding-top: 20px
	}
}
.slider_title {
	text-align center
	color: #646464;
	margin-bottom: 50px
	h3 {
		font-size: 36px
	}
	p {
		font-size: 16px
		span {
			font-size: 14px
			color: #9ACD32
		}
	}
}
.calendarUl {
	padding: 0;
	margin: 0;
}
.calnedarTitle {
	margin-bottom: 15px;
	background-color: #436d39;
	text-transform: uppercase;
	line-height: 1;
	color: #fff;
	padding: 25px;
	font-weight: 500;
	min-width: 175px;
}
.calendarWrap {
	width: 288px;
}
.leftMenu li.last a {
	border-bottom: none;
}
.leftMenu li a:hover {
	background-color: #dcffad;
}
.leftMenu li a {
	color: #666;
	text-decoration: none;
	display: block;
	max-width: 150px;
	padding: 8px;
	transition: 0.5s;
}
.leftMenu li {
	list-style: none;
	text-align center
}
.side_bar_menu {
	height: 100%
	background-color: #f5f5f5;
	margin-right: 50px;
	min-width 140px;
}
.leftMenu {
	padding: 30px;
	margin: 0;
	height: 100%
	display flex;
	flex-direction column
	justify-content space-between
}
.menuLeftBanner {
	display: flex;
	margin-top: 15px;
	iframe {
		width: 100%
	}
}
.headerMenu ul {
	padding: 10px 0 0 0;
	margin: 0;
	display: flex;
}
.headerMenu li.first {
	border-left: none;
}
.calendarSlider {
	padding-top: 15px;
	display: grid;
	grid-template-columns 20% 80%;
	margin-top: 40px
	.sliderWrap {
		flex: 1
	}
}
.headerMenu li.last {
	border-right: none;
}
.headerMenu li {
	list-style: none;
	border-right: 1px solid #f1f1f1;
	border-left: 1px solid #ababab;
}
.headerMenu li a:hover {
	background-color: #739b3c;
	color: #fff;
}
.headerMenu li a {
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 12px;
	display: block;
	text-decoration: none;
	transition: 0.5s;
}
.container {
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 15px;
}
header {
	background-color: #9acd32;
	margin-bottom: 100px
}
.headerWrapper {
	display: flex;
	align-items center
	justify-content space-between
	padding-top: 50px
}
.headerSlogan span {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	margin-right: 20px;
}
.headerSlogan {
	color: #fff;
	text-align: center;
	font-size: 19px
	text-transform: uppercase;
}
.main_top_menu {
	padding 25px 40px;
	background-color: #fff
	color: #595959
	box-shadow 0px 5px 22px rgba(0, 0, 0, 0.13)
	position relative
	top 50px;
	font-size: 14px
	display flex
	align-items center
	justify-content: space-between;
}
.i_cabinet {
	display flex
	align-items center
	.burger_cont {
		padding 20px
		margin-right: 20px
		cursor pointer
	}
	.s_burger {
		width: 30px
		height: 2px
		position relative
		background-color: #595959
		&:after {
			content ''
			position absolute
			top: -6px
			left 0
			width: 30px
			height: 2px
			background-color: #595959
		}
		&:before {
			content ''
			position absolute
			bottom: -6px
			left 0
			width: 30px
			height: 2px
			background-color: #595959
		}
	}
	.cabinet_link {
		padding: 5px 0 5px 30px
		background: url("/images/icon_cabinet.svg") no-repeat left center
	}
}
.sloganMenuWrapper {
}
/*--FOOTER----------------------------------------------------------------------------------------------------------------------------------------*/
footer {
	margin-top: 15px;
	color: #fff;
	padding-top: 70px
	.menulink {
		font-weight bold
		font-size: 20px
	}
	.footer_cont_menu_logo {
		display flex;
	}
	.leftMenu {
		padding 0;
		margin-right: 50px
		min-width 200px;
		margin-top: 0
		background-color: transparent;
		li a {
			padding-left: 0
			max-width 100%
			color: #fff
			border-bottom: 0
			&:hover {
				background-color: transparent
			}
		}
	}
}
.footer_social_cont {
	margin-top: 30px
	.sociaWrapper {
		padding-left: 0
		margin-top: 30px
		i {
			font-size: 2em
			margin-right: 20px
		}
	}
}
.footer_map {
	font-weight: bold;
	font-size: 18px
	a {
		padding 15px 0 15px 50px
		background: url("/images/location.png") no-repeat left center
	}
}
.copyright_block {
	display flex
	justify-content flex-end
	align-items center
	.copyright {
		margin-right: 50px
	}
}
.footer_logo img {
	min-width 300px
}
.contants_cont {
	display grid
	grid-template-columns 1fr 1fr
	grid-column-gap 50px
	margin-left: 50px
	flex: 1;
	.first_block,
	.second_block {
		flex: 1
	}
	.detail_info {
		font-weight normal
		li {
			font-size: 18px
		}
	}
}
.footer_cont_menu_logo {
	.title {
		font-size: 35px
		padding-bottom: 30px
		margin-bottom: 30px
		border-bottom: 3px solid #fff
	}
}
.footer_img {
	img {
		width: 100%
		max-height 700px
	}
}
.footer_gradient {
	background-color: green_color
	padding-bottom: 100px
}
footer ul {
	list-style-type: none;
	padding-left: 0;
}
footer .footer_info {
	line-height: 22px;
	text-align: center;
}
footer .footer_info .footer_info_title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
footer .i_menu_div_block {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
/**/
/*--FOOTER----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1550px) {
	footer .footer_cont_menu_logo {
		flex-direction column
	}
	.contants_cont {
		margin-left: 0
		margin-top: 20px
	}
	.copyright_block {
		justify-content space-between
		margin-top: 50px
	}
	.footer_gradient {
		padding-bottom: 20px
	}
}
@media screen and (max-width: 1400px) {

	.calendarSlider {
		display block
	}
	.calendarSlider .sliderWrap {
		margin-top: 50px
	}
	.calendarWrap {
		width: 100%
		text-align center
	}
}
@media screen and (max-width: 1200px) {
	.infoBlock {
		width calc(50% - 20px);
		margin-top: 20px
	}
	.menuLeftBanner iframe {
		height: auto
	}
	.info_item {
		width calc(20% - 10px)
	}
	.headerSlogan {
		font-size: 14px
	}
	.sociaWrapper {
		margin-left: 20px
	}
	.headerWrapper {
		flex-wrap wrap
		padding-top: 20px
	}
	.headerLogoWrapper {
		order: 1;
	}
	.sociaWrapper {
		order: 2
	}
	.sloganMenuWrapper {
		order: 3;
	}
}
@media screen and (max-width: 1000px) {
	.sloganMenuWrapper {
		margin-top: 20px
		width: 100%
	}
	.main_top_menu {
		padding 10px 20px;
	}
	.i_cabinet .burger_cont {
		padding 10px
		margin-right: 10px
	}
}
@media screen and (max-width: 780px) {
	.leftMenu {
		flex-direction row
		flex-wrap wrap;
		justify-content flex-start
	}
	.leftMenu li:not(:last-child) {
		margin-right: 15px
	}
	.side_bar_menu {
		margin-right: 0
	}
	.menusublink {
		padding-left: 15px !important
	}
	.menusublink:before {
		left 0 !important
	}
	footer .menulink {
		font-size: 16px
	}
	footer .i_menu_div_block {
		grid-template-columns repeat(2,1fr)
	}
	.menuLeftBanner {
		flex-direction column
	}
	.menuLeftBanner iframe {
		height: 400px
		margin-top: 20px
	}
	.info_items {
		margin-top: 0
		flex-wrap wrap
	}
	.info_item {
		width calc(50% - 10px)
		margin-top: 20px
		&:last-child {
			margin 20px auto
		}
	}
}
@media screen and (max-width: 640px) {
	.contants_cont {
		grid-template-columns none
	}
	.footer_logo img {
		min-width 200px;
	}
	.copyright_block .copyright {
		margin-right: 20px
		font-size: 12px
	}
}