	 	/* ---------------------------------------------------------------------------------------------------- iLaB */

/* ---------------------------------------------------------------------------------------------------- pre */
pre:before {
	-webkit-animation: arrow1 1.5s infinite 0.75s;
	animation: arrow1 1.5s infinite 0.75s;
	opacity: 0;
}
pre:after {
	-webkit-animation: arrow2 1.5s infinite;
	animation: arrow2 1.5s infinite;
	opacity: 0;
}
pre:before,
pre:after {
	content: '';

	position: fixed;
	top: 225px;
	right: 10px;

	margin-top: -12px;

	width: 20px;
	height: 20px;

	border: 2px solid white;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
@keyframes arrow1 {
	from {
		opacity: 1;
	}
	to {
		transform: translateX(-75%) rotate(45deg);
		opacity: 0;
	}
}
@keyframes arrow2 {
	from {
		opacity: 1;
	}
	to {
		transform: translateX(-75%) rotate(45deg);
		opacity: 0;
	}
}

pre:hover:before,
pre:hover:after {
	content: none;
}
pre:hover {
	top: 10px!important;
	bottom: 10px;

	max-width: 50%;
	max-height: 100%;

	z-index: 10000;
	overflow: auto;

	color: #267FB5;

	border: 15px solid #14191F;
	padding-right: 30px;
}

pre {
	font-size: 1em;
	font-family: monospace, monospace;

	box-sizing: border-box;
	position: fixed;
	right: 10px;
	top: 200px;

	max-width: 50px;
	max-height: 50px;
	min-height: 50px;

	overflow: hidden;

	border-radius: 5px;
	background-color: #14191F;
	
	color: transparent;

	margin: 0;

	box-shadow: 0 0 0.5em #14191F;
	-webkit-box-shadow: 0 0 0.5em #14191F;
	-moz-box-shadow: 0 0 0.5em #14191F;

	z-index: 1000;

	transition: top 0.5s, bottom 0.5s, max-width 0.5s, max-height 0.5s, color 1s, padding-right 0.5s, border 0.5s;
}